html {
  box-sizing: border-box;
  font-family: sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf 100%);
}

.pricing-grid {
  max-width: 1020px;
  margin: 0 auto;

  display: flex;
  align-items: center;
}

.plan {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  padding: 30px;
  margin: 0 20px;
  display: inline-block;
  text-align: center;

  flex: 1;

  display: flex;
  flex-direction: column;
}

.plan .plan1 {
  align-self: center;
}

.plan * {
  flex: 1;
}

.plan .cta {
  flex: 0;
}

.plan h2 {
  color: white;
  text-transform: uppercase;
}

.plan ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.plan li {
  padding: 10px;
  border-bottom: solid 1px rgba(0, 0, 0, 0.2);
}

.plan li:last-child {
  border: none;
}

.plan .price {
  font-size: 40px;
}

.plan a {
  display: block;
  background: yellow;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  color: black;
}

.plan a:hover {
  background: rgba(247, 202, 24, 1);
}
