  * {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

.container {
  display: flex;
}

.box {
  color: white;
  font-size: 50px;
  padding: 10px;
  text-align: center;

  /* flex: va en los items y es un shortcut para distribuir el espacio restante, manejar el shrink y basis de los items del flex */
  flex: 1;
}

.box2 {
  flex: 2;
}

.box1 {background: #2D3047}
.box2 {background: #C04ABC}
.box3 {background: #E0A458}
.box4 {background: #F55536}
.box5 {background: #41337A}
.box5 {background: #91CB3E}
.box6 {background: #FCFF6C}
.box7 {background: #1B9AAA}
.box8 {background: #FFC43D}
.box9 {background: #06D6A0}
.box10 {background: #B23A48}
